html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Space Mono", monospace;
  background-color: #f6f8ff;
}

header,
main {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  margin-top: 31px;

  &__clickable {
    margin-left: auto;
    display: flex;

    &:hover {
      cursor: pointer;
    }
  }

  &__logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    color: #222731;
    margin: 0;
  }

  &__mode {
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 2.5px;

    color: #697c9a;
    text-transform: uppercase;
    margin-right: 16px;

    &:hover {
      filter: brightness(0) saturate(0);
    }
  }

  &__icon {
    cursor: pointer;

    &:hover {
      filter: brightness(0) saturate(0);
    }
  }
}

main {
  .search {
    width: 100%;
    height: 60px;
    background: #fefefe;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../assets/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 16px;
    background-size: 20px 20px;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
    margin-top: 36px;

    &__input {
      font-weight: 400;
      font-size: 13px;
      line-height: 25px;
      color: #4b6a9b;
      border: none;
      margin-left: 45px;
      width: 100%;
      height: 100%;
      font-family: "Space Mono", monospace;

      &:hover {
        cursor: text;
      }

      &::placeholder {
        color: #4b6a9b;
      }
    }

    &__button {
      background: #0079ff;
      border-radius: 10px;
      font-family: "Space Mono";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      border: none;
      padding: 12.5px 14px 12.5px 14px;
      color: #ffffff;
      margin-right: 7px;
      cursor: pointer;

      &:hover {
        background-color: #60abff;
      }
    }
  }

  .user {
    margin-top: 30px;
    background: #fefefe;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
    margin-top: 32px;
    overflow: auto;

    &__content__wrapper {
      width: 100%;
    }

    &__info,
    &__bio,
    &__stats,
    &__links {
      width: 90%;
      margin: 0 auto;
    }

    &__info {
      display: flex;
      margin: 16px 70px 0 24px;
      align-items: center;

      &__picture {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-right: 19px;
      }

      &__name {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #2b3442;
        margin: 0;
      }

      &__at {
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
        color: #0079ff;
      }

      &__date {
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
        color: #697c9a;
      }
    }

    &__bio {
      font-weight: 400;
      font-size: 13px;
      line-height: 25px;
      color: #4b6a9b;
      margin-top: 32px;
    }

    &__stats {
      display: flex;
      background: #f6f8ff;
      border-radius: 10px;
      justify-content: space-around;
      padding: 18px 14px;
      margin: 24px auto;

      &__text {
        color: #4b6a9b;
        text-align: center;
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
      }

      &__number {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #2b3442;
      }
    }

    &__links {
      margin-top: 24px;
      padding-bottom: 48px;

      &__item {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
        margin-top: 16px;
        color: #4b6a9b;
      }

      &__website,
      &__twitter,
      &__company {
        margin-left: 13px;
      }

      &__website:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      &__location {
        margin-left: 19px;
      }
    }
  }
}

@media (min-width: 600px) {
  main {
    .search {
      &__input {
        font-size: 18px;
        line-height: 25px;
      }
    }

    .user {
      &__info {
        margin-top: 40px;
        &__picture {
          width: 117px;
          height: 117px;
        }
        &__name {
          font-size: 26px;
          line-height: 39px;
        }
        &__at {
          font-size: 16px;
          line-height: 24px;
        }

        &__date {
          font-size: 15px;
          line-height: 22px;
        }
      }

      &__bio {
        font-size: 15px;
        line-height: 25px;
      }

      &__stats {
        &__text {
          font-size: 13px;
          line-height: 19px;
        }
        &__number {
          text-align: start;
          font-size: 22px;
          line-height: 33px;
        }
      }

      &__links {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &__item {
          font-size: 15px;
          line-height: 22px;
        }
        &__item:nth-child(3) {
          grid-area: 1 / 2 / 2 / 3;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .user {
    display: flex;
  }

  .user__picture__desktop {
    display: block;
    width: 117px;
    height: 117px;
    border-radius: 50%;
    margin-top: 48px;
    margin-left: 48px;
  }

  .user {
    &__info {
      margin-left: 37px !important;
      margin-top: 0px !important;

      &__wrapper {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        margin-top: 48px;
      }

      &__date {
        grid-area: 1 / 2 / 2 / 3;
        justify-self: flex-end;
        align-self: center;
      }

      &__picture {
        display: none;
      }
    }
  }
}

[data-theme="dark"] {
  body {
    background-color: #141d2f;
  }

  header {
    .nav {
      &__logo {
        color: #ffffff;
      }

      &__mode {
        color: #ffffff;
        visibility: hidden;

        &::after {
          visibility: visible;
          content: "Light";
        }

        &:hover {
          filter: invert(64%) sepia(10%) saturate(1194%) hue-rotate(185deg)
            brightness(100%) contrast(87%);
        }
      }

      &__icon {
        filter: brightness(0) invert(1);
        &:hover {
          filter: invert(64%) sepia(10%) saturate(1194%) hue-rotate(185deg)
            brightness(100%) contrast(87%);
        }
      }
    }
  }

  main {
    .search {
      background-color: #1e2a47;

      &__input {
        background-color: #1e2a47;
        color: white;

        &::placeholder {
          color: white;
        }
      }
    }

    .user {
      background-color: #1e2a47;

      &__info {
        &__name {
          color: white;
        }

        &__date {
          color: white;
        }
      }

      &__bio {
        color: white;
      }

      &__stats {
        background-color: #141d2f;

        &__text,
        &__number {
          color: white;
        }
      }

      &__links {
        &__item {
          color: white;
        }

        &__image {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}
