$light-body-background: hsl(227, 100%, 98%);
$logo-text: hsl(220, 18%, 16%);
$light-date: hsl(217, 20%, 51%);
$light-text: hsl(217, 35%, 45%);
$light-main-background: hsl(0, 0%, 100%);
$error: hsl(0, 92%, 62%);
$button: hsl(212, 100%, 50%);
$light-name: hsl(217, 21%, 21%);
$dark-body-background: hsl(220, 40%, 13%);
$dark-main-background: hsl(222, 41%, 20%);
$dark-text: hsl(0, 0%, 100%);

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Space Mono", monospace;
  background-color: $light-body-background;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

header,
main {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  margin-top: 31px;

  &__clickable {
    margin-left: auto;
    display: flex;

    &:hover {
      cursor: pointer;
    }
  }

  &__logo {
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 2.438rem;
    color: $logo-text;
    margin: 0;
  }

  &__mode {
    font-weight: 700;
    font-size: 0.813rem;
    line-height: 1.188rem;
    text-align: right;
    letter-spacing: 2.5px;

    color: $light-date;
    text-transform: uppercase;
    margin-right: 16px;

    &:hover {
      //turns into black
      filter: brightness(0) saturate(0);
    }
  }

  &__icon {
    cursor: pointer;

    &:hover {
      //turns into black
      filter: brightness(0) saturate(0);
    }
  }
}

main {
  .search {
    width: 100%;
    height: 60px;
    background: $light-main-background;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../assets/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 16px;
    background-size: 20px 20px;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
    margin-top: 36px;

    &__input {
      font-weight: 400;
      font-size: 0.813rem;
      line-height: 1.563rem;
      color: $light-text;
      border: none;
      margin-left: 45px;
      width: 100%;
      height: 100%;
      font-family: "Space Mono", monospace;

      &:hover {
        cursor: text;
      }

      &::placeholder {
        color: $light-text;
      }

      &--error {
        font-weight: 700;
        font-size: 0.938rem;
        line-height: 1.375rem;
        margin-right: 24px;
        color: $error;
        width: 150px;
      }
    }

    &__button {
      background: $button;
      border-radius: 10px;
      font-family: "Space Mono";
      font-style: normal;
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.313rem;
      border: none;
      padding: 12.5px 14px;
      color: white;
      margin-right: 7px;
      cursor: pointer;

      &:hover {
        background-color: #60abff;
      }
    }
  }

  .user {
    margin-top: 30px;
    background: $light-main-background;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
    margin-top: 32px;
    overflow: auto;

    &__content__wrapper {
      width: 100%;
    }

    &__info,
    &__bio,
    &__stats,
    &__links {
      width: 90%;
      margin: 0 auto;
    }

    &__info {
      display: flex;
      margin: 16px 70px 0 24px;
      align-items: center;

      &__picture {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-right: 19px;
      }

      &__name {
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5rem;
        color: $light-name;
        margin: 0;
      }

      &__at {
        font-weight: 400;
        font-size: 0.813rem;
        line-height: 1.188rem;
        color: $button;
      }

      &__date {
        font-weight: 400;
        font-size: 0.813rem;
        line-height: 1.188rem;
        color: $light-date;
      }
    }

    &__bio {
      font-weight: 400;
      font-size: 0.813rem;
      line-height: 1.563rem;
      color: $light-text;
      margin-top: 32px;
    }

    &__stats {
      display: flex;
      background: $light-body-background;
      border-radius: 10px;
      justify-content: space-around;
      padding: 18px 14px;
      margin: 24px auto;

      &__text {
        color: $light-text;
        text-align: center;
        font-weight: 400;
        font-size: 0.688rem;
        line-height: 1;
      }

      &__number {
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        color: $light-name;
      }
    }

    &__links {
      margin-top: 24px;
      padding-bottom: 48px;

      &__item {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 0.813rem;
        line-height: 1.188rem;
        margin-top: 16px;
        color: $light-text;
      }

      &__website,
      &__twitter,
      &__company {
        margin-left: 13px;
      }

      &__website:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      &__location {
        margin-left: 19px;
      }
    }
  }
}

//
//
//Tablet styling
//
//

@media (min-width: 600px) {
  main {
    .search {
      &__input {
        font-size: 1.125rem;
        line-height: 1.563rem;
      }
    }

    .user {
      &__info {
        margin-top: 40px;
        &__picture {
          width: 117px;
          height: 117px;
        }
        &__name {
          font-size: 1.625rem;
          line-height: 2.438rem;
        }
        &__at {
          font-size: 1rem;
          line-height: 1.5rem;
        }

        &__date {
          font-size: 0.938rem;
          line-height: 1.375rem;
        }
      }

      &__bio {
        font-size: 0.938rem;
        line-height: 1.563rem;
      }

      &__stats {
        &__text {
          font-size: 0.813rem;
          line-height: 1.188rem;
        }
        &__number {
          text-align: start;
          font-size: 1.375rem;
          line-height: 2.063rem;
        }
      }

      &__links {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &__item {
          font-size: 0.938rem;
          line-height: 1.375rem;
        }
        &__item:nth-child(3) {
          grid-area: 1 / 2 / 2 / 3;
        }
      }
    }
  }
}

//
//
//Desktop styling
//
//

@media (min-width: 900px) {
  main,
  header {
    max-width: 730px;
  }

  .user {
    display: flex;
  }

  .user__picture__desktop {
    display: block;
    width: 117px;
    height: 117px;
    border-radius: 50%;
    margin-top: 48px;
    margin-left: 48px;
  }

  .user {
    &__info {
      margin-left: 37px !important;
      margin-top: 0px !important;

      &__wrapper {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        margin-top: 48px;
      }

      &__date {
        grid-area: 1 / 2 / 2 / 3;
        justify-self: flex-end;
        align-self: center;
      }

      &__picture {
        display: none;
      }
    }
  }
}

[data-theme="dark"] {
  body {
    background-color: $dark-body-background;
  }

  header {
    .nav {
      &__logo {
        color: $dark-text;
      }

      &__mode {
        color: $dark-text;
        visibility: hidden;

        &::after {
          visibility: visible;
          content: "Light";
        }

        &:hover {
          filter: invert(64%) sepia(10%) saturate(1194%) hue-rotate(185deg)
            brightness(100%) contrast(87%);
        }
      }

      &__icon {
        //turns into white
        filter: brightness(0) invert(1);
        &:hover {
          filter: invert(64%) sepia(10%) saturate(1194%) hue-rotate(185deg)
            brightness(100%) contrast(87%);
        }
      }
    }
  }

  main {
    .search {
      background-color: $dark-main-background;

      &__input {
        background-color: $dark-main-background;
        color: white;

        &::placeholder {
          color: white;
        }
      }
    }

    .user {
      background-color: $dark-main-background;

      &__info {
        &__name {
          color: white;
        }

        &__date {
          color: white;
        }
      }

      &__bio {
        color: white;
      }

      &__stats {
        background-color: $dark-body-background;

        &__text,
        &__number {
          color: white;
        }
      }

      &__links {
        &__item {
          color: white;
        }

        &__image {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}
