html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Space Mono", monospace;
  background-color: #f6f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

header,
main {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  margin-top: 31px;
}
.nav__clickable {
  margin-left: auto;
  display: flex;
}
.nav__clickable:hover {
  cursor: pointer;
}
.nav__logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  color: #222731;
  margin: 0;
}
.nav__mode {
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  text-align: right;
  letter-spacing: 2.5px;
  color: #697c9a;
  text-transform: uppercase;
  margin-right: 16px;
}
.nav__mode:hover {
  filter: brightness(0) saturate(0);
}
.nav__icon {
  cursor: pointer;
}
.nav__icon:hover {
  filter: brightness(0) saturate(0);
}

main .search {
  width: 100%;
  height: 60px;
  background: #fefefe;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url(../assets/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 16px;
  background-size: 20px 20px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 15px;
  margin-top: 36px;
}
main .search__input {
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: #4b6a9b;
  border: none;
  margin-left: 45px;
  width: 100%;
  height: 100%;
  font-family: "Space Mono", monospace;
}
main .search__input:hover {
  cursor: text;
}
main .search__input::-moz-placeholder {
  color: #4b6a9b;
}
main .search__input:-ms-input-placeholder {
  color: #4b6a9b;
}
main .search__input::placeholder {
  color: #4b6a9b;
}
main .search__input--error {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  margin-right: 24px;
  color: #f74646;
  width: 150px;
}
main .search__button {
  background: #0079ff;
  border-radius: 10px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  border: none;
  padding: 12.5px 14px 12.5px 14px;
  color: #ffffff;
  margin-right: 7px;
  cursor: pointer;
}
main .search__button:hover {
  background-color: #60abff;
}
main .user {
  margin-top: 30px;
  background: #fefefe;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 15px;
  margin-top: 32px;
  overflow: auto;
}
main .user__content__wrapper {
  width: 100%;
}
main .user__info, main .user__bio, main .user__stats, main .user__links {
  width: 90%;
  margin: 0 auto;
}
main .user__info {
  display: flex;
  margin: 16px 70px 0 24px;
  align-items: center;
}
main .user__info__picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 19px;
}
main .user__info__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #2b3442;
  margin: 0;
}
main .user__info__at {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #0079ff;
}
main .user__info__date {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #697c9a;
}
main .user__bio {
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: #4b6a9b;
  margin-top: 32px;
}
main .user__stats {
  display: flex;
  background: #f6f8ff;
  border-radius: 10px;
  justify-content: space-around;
  padding: 18px 14px;
  margin: 24px auto;
}
main .user__stats__text {
  color: #4b6a9b;
  text-align: center;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
}
main .user__stats__number {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #2b3442;
}
main .user__links {
  margin-top: 24px;
  padding-bottom: 48px;
}
main .user__links__item {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  margin-top: 16px;
  color: #4b6a9b;
}
main .user__links__website, main .user__links__twitter, main .user__links__company {
  margin-left: 13px;
}
main .user__links__website:hover {
  cursor: pointer;
  text-decoration: underline;
}
main .user__links__location {
  margin-left: 19px;
}

@media (min-width: 600px) {
  main .search__input {
    font-size: 18px;
    line-height: 25px;
  }
  main .user__info {
    margin-top: 40px;
  }
  main .user__info__picture {
    width: 117px;
    height: 117px;
  }
  main .user__info__name {
    font-size: 26px;
    line-height: 39px;
  }
  main .user__info__at {
    font-size: 16px;
    line-height: 24px;
  }
  main .user__info__date {
    font-size: 15px;
    line-height: 22px;
  }
  main .user__bio {
    font-size: 15px;
    line-height: 25px;
  }
  main .user__stats__text {
    font-size: 13px;
    line-height: 19px;
  }
  main .user__stats__number {
    text-align: start;
    font-size: 22px;
    line-height: 33px;
  }
  main .user__links {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main .user__links__item {
    font-size: 15px;
    line-height: 22px;
  }
  main .user__links__item:nth-child(3) {
    grid-area: 1/2/2/3;
  }
}
@media (min-width: 900px) {
  main,
header {
    max-width: 730px;
  }
  .user {
    display: flex;
  }
  .user__picture__desktop {
    display: block;
    width: 117px;
    height: 117px;
    border-radius: 50%;
    margin-top: 48px;
    margin-left: 48px;
  }
  .user__info {
    margin-left: 37px !important;
    margin-top: 0px !important;
  }
  .user__info__wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin-top: 48px;
  }
  .user__info__date {
    grid-area: 1/2/2/3;
    justify-self: flex-end;
    align-self: center;
  }
  .user__info__picture {
    display: none;
  }
}
[data-theme=dark] body {
  background-color: #141d2f;
}
[data-theme=dark] header .nav__logo {
  color: #ffffff;
}
[data-theme=dark] header .nav__mode {
  color: #ffffff;
  visibility: hidden;
}
[data-theme=dark] header .nav__mode::after {
  visibility: visible;
  content: "Light";
}
[data-theme=dark] header .nav__mode:hover {
  filter: invert(64%) sepia(10%) saturate(1194%) hue-rotate(185deg) brightness(100%) contrast(87%);
}
[data-theme=dark] header .nav__icon {
  filter: brightness(0) invert(1);
}
[data-theme=dark] header .nav__icon:hover {
  filter: invert(64%) sepia(10%) saturate(1194%) hue-rotate(185deg) brightness(100%) contrast(87%);
}
[data-theme=dark] main .search {
  background-color: #1e2a47;
}
[data-theme=dark] main .search__input {
  background-color: #1e2a47;
  color: white;
}
[data-theme=dark] main .search__input::-moz-placeholder {
  color: white;
}
[data-theme=dark] main .search__input:-ms-input-placeholder {
  color: white;
}
[data-theme=dark] main .search__input::placeholder {
  color: white;
}
[data-theme=dark] main .user {
  background-color: #1e2a47;
}
[data-theme=dark] main .user__info__name {
  color: white;
}
[data-theme=dark] main .user__info__date {
  color: white;
}
[data-theme=dark] main .user__bio {
  color: white;
}
[data-theme=dark] main .user__stats {
  background-color: #141d2f;
}
[data-theme=dark] main .user__stats__text, [data-theme=dark] main .user__stats__number {
  color: white;
}
[data-theme=dark] main .user__links__item {
  color: white;
}
[data-theme=dark] main .user__links__image {
  filter: brightness(0) invert(1);
}/*# sourceMappingURL=styles.css.map */